# Emacs temporary files
*~
\#*\#
.#*

# Emacs generated data
backups/
eln-cache/
elpa/
eshell/
places
transient/
custom.el
bookmarks
multisession/
.mc-lists.el
ielm-history.eld

# Emacs project database
projects